@font-face {
  font-family: "Inter";
  src:
    url("/fonts/Inter-Italic-VariableFont_opsz\,wght.woff2") format("woff2"),
    url("/fonts/Inter-VariableFont_opsz_wght.woff") format("woff"),
    url("fonts/Inter-VariableFont_opsz,wght.ttf") format("ttf");
  font-weight: 100 900; /* Диапазон весов */
  font-style: normal;
  font-display: swap; /* Плавная подмена шрифта */
}

@font-face {
  font-family: "Inter";
  src:
    url("/fonts/Inter-Italic-VariableFont_opsz\,wght.woff2") format("woff2"),
    url("/fonts/Inter-Italic-VariableFont_opsz_wght.woff") format("woff"),
    url("/fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("ttf");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
