*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font-style: normal;
}

img {
  width: 100%;
}
